.product-gallery-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    padding: 0 8rem;
    min-height: 100vh;
}

.product-gallery-detail-title {
    width: 100%;
    padding-top: 2rem;
}

.product-gallery-detail h3 {
    color: grey;
}

.product-gallery-detail h1 {
    margin-bottom: 2rem;
}


.product-gallery-detail-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.product-gallery-detail-icons-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
    align-items: center;
    justify-content: center;
}

.product-gallery-detail-icons-list li {
    transition: all 0.3s ease;
}

.product-gallery-detail-icons-list li a {
    text-decoration: none;
}

.product-gallery-detail-icons-list li:hover {
    scale: 1.1;
}
